@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --fg-primary: 0, 0, 0;
  --fg-sub-header: 156, 163, 175;
  --hover-primary: 229, 231, 235;
  --hover-secondary: 229, 231, 235;
  --bg-success: 34, 197, 94;
  --border-primary: 229, 231, 235;
  --fg-secondary: 229, 231, 235;
  --mobile-nav-from: 75, 85, 99;
  --mobile-nav-to: 17, 24, 39;
  --bg-button: 209, 213, 219;
  --hover-button: 229, 231, 235;
  --bg-primary: 255, 255, 255;
  --item-bg: transparent;
  --button-cta: 96, 165, 250;
}

.dark {
  --fg-primary: 243, 244, 246;
  --fg-sub-header: 156, 163, 175;
  --hover-primary: 31, 41, 55;
  --hover-secondary: 31, 41, 55;
  --border-primary: 55, 65, 81;
  --fg-secondary: 55, 65, 81;
  --bg-button: 124, 58, 237;
  --bg-success: 124, 58, 237;
  --mobile-nav-from: 124, 58, 237;
  --mobile-nav-to: 76, 29, 149;
  --hover-button: 139, 92, 246;
  --bg-primary: 17, 24, 39;
  --item-bg: 31, 41, 55, 0.7;
  --button-cta: 167, 139, 250;
}
